<!DOCTYPE html>
<html>
<head>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

  <title>Home</title>

  <style>
  .bg-hero {
    text-align: center;
    font-size: 18pt;
  }
  .inner {
  
    /*float: right;*/
    margin: 0 auto;
    margin-top: 0;
    z-index: 999;
    background-color: white;
    opacity: 10%;
    min-height: 3em;
    width: 100%;
    position: fixed;
      


    
  }
  .btn {
  	padding-right: 3em;
  	padding-left: .5em;
  	padding-bottom: .1em;
  	padding-top: .1em;
  }
  .buffer{
  	height:4em;
  	width: 100%;
  }
  .lettering {
    opacity: 100%;
    font-size: 13pt;
    text-align: left;
    width: 10em;
    margin: 0em;
  }
  .lettering2{
    opacity: 100%;
    font-size: 13pt;
    
    padding-right: 5em;
    color: white;
    margin-right:0em;
    width: 15em;
  }
  .buff{
    height: .75em;
  }
  .logo{
    
    opacity: 100%;
    margin-right: 28em;
  }
  .l, .si, .su{
    opacity: 100%;
    font-size: 18px;
    margin-right: 5em;
    color: black;
    font-weight: lighter;
    font-style: arial;
  }
  .headerimage{
    
    
    margin-top: 0%;
    float: right;
    height: 32em;
    width: 55em;

    

  }
  .otext {
    background-image: url("http://orig15.deviantart.net/70d4/f/2012/108/8/6/teal_windows_8_bubbles_background_by_gifteddeviant-d4wkij8.png");
    min-height: 7em;
    text-align: center;
    font-size: 26px;
    display:inline-block;
    color: white;
    font-weight: lighter;
    padding-bottom: 3em;
    



  }
  .buffer {
    height: 3.2em;
  }
  .one, .two, .three{
    height: 11em;
    width: 11em;
    border-radius: 10em;
    text-align: center;

  }
  .blogone{
    
    font-weight: lighter;
    
    text-align: center;
    margin: 0 auto;
    width: 11em;
    padding-top: 2em;
    height: 6em;
  }
  .blog{
    width:11em;
  
    
  }
  .title{
    text-align: center;
    font-size: 18pt;
    font-weight: lighter;
    padding-bottom: 2em;

    
  }
  .buffed{
    height: 10em;

  }
  .descrip{
    width: 11em;
    padding-bottom: 2em;
    text-align: center;

  }
  .bgheroimage{
    background-image: url("assets/bcg_hero_membership_community.jpg");
    background-size: 133.655em 75em;

    font-size: 16px;
    height: 40em;
  }
  .testimonial{
    margin: 0 auto;

  }
  .blog1{
    width: 11em;
   
    
    

  }
  .cup1{
    width: 5em;
    
  }
  .options{
    width: 17em;
    margin-right: 0;
    
  }
  .l{
    margin-right: 0;
  }
  .su{
    margin-left: 0;
  }
  .median{
    height: 1em;
  }
  .blue{
    height: 10em;
  }
  .center{
    height: 10em;
  }
  .centered{
    margin: 0 auto;
    min-height: 30em;
    width: 70em;
  }


  </style>
  
</head>
<body>

    <div class="bg-hero">
        <div class="inner">
           <div class = "buff">
            </div>

            
              <%= link_to image_tag('top_logo.png'), home_path, {:class => "logo"} %>
            
              
            
            
              <%=link_to 'Sign Up', signup_path, {:class => "su"} %>   <%=link_to 'Sign In', signin_path, {:class => "si"} %>    <%=link_to 'Members', list_path, {:class => "l"} %> 
            
            
        
        </div>
        <div class = "col-sm-12 bgheroimage">
        </div>
       <!-- 
        <%= image_tag("bcg_hero_membership_community", :class => "headerimage")%>
       -->
        <!-- <div class "wraphi">
        <%= image_tag("bcg_hero_membership", :class => "headerimage")%>
        </div>
         -->


        
        
           
        
    </div>



    <div class = "col-sm-12 otext">
    <div class = "buffer">
            </div>
                <p>
                At Common, you’re not just a member — you’re part of a community that cares.
                <p>
                Here you can view other members in your area, see their interests, and contact them before you move in.</p>
                </p>
    </div>
    
    
    <%= image_tag("Screen Shot 2015-11-16 at 3.32.18 PM", :class => "testimonial")%>
    
    
    <!-- REPLACE BLOG POSTS AS MORE IMPORTANT ONES APPEAR -->
    <div class = "centered">
    <div class = "col-sm-12 title">
        <p>
        <%= link_to "Check out our blog", "http://blog.hicommon.com/" %>
        </p>
    </div>
    <div class = "col-sm-12">
    </div>
     
    
    
    <div class = "centered">
      
    <div class = "col-sm-2 blog1">
      
      <%= link_to image_tag('ONBOARD.jpg', :class => "one"), "http://blog.hicommon.com/2015/11/how-we-onboard-members/" %>
      <div class ="blogone">
      
      <%= link_to "How We Onboard Members", "http://blog.hicommon.com/2015/11/how-we-onboard-members/" %>
      </div>
      <div class = "descrip">
      At Common, we’ve set out to improve the way we live together by providing fully furnished homes with flexible month-to-month terms at an all-in-one price. As we built out our first property...
      </div>
      
    
    </div>
    <div class = "col-sm-3 blue">
    </div>
   

  
    <div class = "col-sm-2 blog">
      
      <%= link_to image_tag('1162.jpg', :class => "two"), "http://blog.hicommon.com/2015/10/hello-1162-pacific-street/" %>
      <div class ="blogone">
      <%= link_to "Hello 1162 Pacific Street", "http://blog.hicommon.com/2015/10/hello-1162-pacific-street/" %>
      </div>
      <div class = "descrip">
      We started Common to address the need for housing that is flexible, user-friendly, and community-driven. Our mission is to rethink housing from the ground up, answering the question of...
      </div>
    </div>
    
     <div class = "col-sm-3 blue">
    </div>
    
    
    <div class = "col-sm-2 blog">
      
      <%= link_to image_tag('moneybag.jpg', :class => "three"), "http://blog.hicommon.com/2015/07/common-raises-7-35m-to-make-housing-better/" %>
      <div class ="blogone">
      <%= link_to "Common Raises $7.35M to Make Housing Better", "http://blog.hicommon.com/2015/07/common-raises-7-35m-to-make-housing-better/" %>
      </div>
      <div class = "descrip">
      Choosing an apartment is the most expensive decision many of us make every year. Yet we face time pressure, limited and distorted information and an all-around poor customer experience...
      </div>
    </div>
    </div>
    </div>
    
    






</body>
</html>