.background {
    /*height: 100%;*/
    
    
    
  }
  .atliens {
    text-align: center;
    font-size: 18pt;
    height: 29em;
    border-top-color: black;
    border-top-style: solid;
    border-top-width: .1em;
    border-bottom-color: black;
    border-bottom-style: solid;
    border-bottom-width: .1em;
    margin-top: 0em;
    background-color: white;
  }
  .list {
    font-size: 9pt;
    border-width: .2em;
    border-style: solid;
    border-color: black;
    /*TIMES 2 EM BECAUSE HALF PT FONT*/
    margin-left: 1em;
    margin-top: 3em;
    height: 51.35em;
    width: 12em;
    overflow: auto;
    padding: 0;
    background-color: rgba(230,230,230,0.4);
    position: relative;
  }
  .profile {
    font-size: 9pt;
    border-width: .2em;
    border-style: solid;
    border-color: black;
    
   /* margin-left: 10em;
    margin-top: 2em;*/
    height: 16em;
    width: 16em;
    padding:0;
  }
  .commoninfo {
    font-size: 9pt;
    border-width: .2em;
    border-style: solid;
    border-color: black;
    
    height: 12em;
    /*width: 76em;*/
    width: 50em;
    /*margin-left: 2em;
    margin-top: 2em;
    margin-bottom: 2em;*/
    text-align: left;
    padding: 0;
    background-color: rgba(230,230,230,0.4);
    
    
  }
  .label {
    font-size: 9pt;
    border-width: .2em;
    border-style: solid;
    border-color: black;
    border-radius: .7em;
    height: 4em;
    width: 8em;
    margin-left: 2em;
    margin-top: 2em;
    color: black;

    
   
  }
  .sect {
    font-size: 9pt;
    border-width: .2em;
    border-style: solid;
    border-color: black;
    
    height: 38.35em;
   /* width: 66em;*/
   /* margin-left: 2em;
    margin-top: 2em;*/
    width: 50em;
    text-align: left;
    background-color: rgba(230,230,230,0.4);
    
    padding: 0;
    margin-top: 1em;

    

  }
  .run {
    margin-top: 1em;
    padding:1em;
    margin-left: 2em;
    margin-right: 1em;
    margin-bottom: 1em;
    font-size: 12pt;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 475;
    background-color: rgba(230,230,230,0.6);
    width: 33.2em;
    height: 10em;

    

  }
  .wrapper1{
    margin-left:7em;
    margin-top: 1.5em;
    width: 8em;
    padding: 0;
    
  }
  .events{
    font-size: 9pt;
    width: 16em;
    height: 26em;
    margin-top: 1em;
    border-width: .2em;
    border-style: solid;
    padding:0;
    border-color: black;
  }
  .wrapper2{
    width: 25em;
    margin-top: 1.5em;
    padding: 0;
    margin-left: .5em;
  }
  .listheader{
    margin-top: 0em;
    border-width: .1em;
    border-bottom-width: .2em;
    border-bottom-style: solid;
    border-bottom-color: black;
    padding: 0;
    margin-bottom: 1em;
    width: 11.7em;
    height: 3em;
    background-color: rgba(255,255,255, 1);
    position: fixed;
    z-index: 199;


  }
  .signout{
    font-size: 9pt;
    width: 16em;
    height: 7.35em;
    margin-top: 1em;
    border-width: .2em;
    border-style: solid;
    border-color: black;
  }
  .button {
    margin-top: .79em;
    font-size: 12pt;
  }
  .eventheader{
    border-bottom-width: .133em;
    border-bottom-style: solid;
    border-bottom-color: black;
    height: 3.1em;
    font-size: 12pt;

  }
  .bio{
    font-weight: 300;
    color: black;
  }
  .run1{
    margin-top: 0em;
    padding:1em;
    margin-left: 2em;
    margin-right: 1em;
    margin-bottom: 1em;
    font-size: 12pt;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 475;
    background-color: rgba(230,230,230,0.6);
    width: 33.2em;
    height: 15.35em;
  }
  .outer{
    margin: 1em 1em 1em 1em;
    padding: 0;
    height: 3.82em;
    background-color: rgba(230,230,230,0.6);
    width: 47.7em;
    text-align: center;


  }
  .info{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 200;
    font-size: 18pt;
    color: black;
  }
  .lightlist{
    margin-left: 2em;
    padding-bottom: 1em;
    height: 58em;
    padding-top: 1em;
    padding-left: 0em;
    padding-right: 0em;
    background-color: rgba(230,230,230,0.6);
    margin-top: 4em;
  }
  .topbuff{
    height: 2em;
  }
















!-- <div class = "col-sm-12 topbuff">

    </div>  

  
  <!-- <section class="section section-community full-width"> -->
        <div class="col-sm-12 atliens">
    <div class = "col-sm-8 wrapper1">
        <div class ="col-sm-2 profile">
          Profile Image

        </div>
        <div class = "col-sm-2 events">
          <div class = "col-sm-12 eventheader">
                <p></p>
                Events
            </div>

        </div>
        <div class = "col-sm-2 signout">

            <div class = "col-sm-12 button">
              <%= link_to "Sign Out", signout_path %>
            </div>

            <div class = "col-sm-12 button">
              <%= link_to current_user.name, cu_path %>
            </div>

        </div>

    </div>


    
    <div class = "col-sm-4 wrapper2">
        <div class ="col-sm-8 commoninfo">
          <div class = "col-sm-12 outer">
          <div class = "col-sm-12 info">


          <%= @cuser.name %>
          </div>
          </div>
          <div class = "col-sm-12 outer">
          <div class = "col-sm-12 info">

          1162 Pacific Street
          </div>
          </div>
          
          


        </div>
        
        <div class ="col-sm-8 sect">
   
          <div class = "col-sm-12 run">
          <div class = "col-sm-12 bio">

          How I got here: <%= @cuser.info %>
          </div>
          </div>
          <div class = "col-sm-12 run1">
          <div class = "col-sm-12 bio">

          Interests: <%= @cuser.info %>
          </div>
          </div>

        </div>


     </div>
        <div class ="col-sm-2 list">
          <div class = "col-sm-12 listheader">
              <p></p>
              Members
          </div>
          <p></p>
          <div class = "col-sm-8 lightlist">
          <%= render "users/list/list2" %>


        </div>
        
       </div>
        

    </div>
  
