<!DOCTYPE html>
<html>
<head>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

  <title></title>

  <style>
    body, html {
    margin:0;


    }



    .wrapper {
    margin:0 auto;
    height: 50em;
    width: 56.5em;



    }
    .broad {
    background-color: white;
    background-size: 100% 100%;
    overflow: hidden;
    height: 24em;
    width: 46.68em;

    margin-bottom: 1em;

    box-shadow: .1em .1em .1em grey;

    }
    .profile {

    border-width: 0em;

    background-size: 100% 100%;
    font-size: 9pt;
    box-shadow: .1em .1em .1em grey;
    height: 12.5em;
    width: 12.5em;
    padding:0;

    }
    .footer {
    background-color: white;
    box-shadow: .1em .1em .1em grey;
    height: 8.3em;
    margin-top: 1em;
    text-align: center;
    padding: 0;



    }
    .weare {
    font-size: 17pt;
    }

    .prof {
    margin-left: 5em;
    margin-top: 4em;
    width: 36em;
    }
    .basicinfo {
    margin-top: 1em;
    font-size: 20pt;
    font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 100;
    color: black;
    }
    .bottomwrap {
    height: 24em;
    background-color: white;
    padding-top: .5em;
    width: 46.68em;

    box-shadow: .1em .1em .1em grey;
    }
    .header {
    background-color: rgb(100, 220, 255);
    box-shadow: .1em .1em .1em grey;

    height: 5em;
    padding:0;
    font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;


    color: black;
    margin-bottom: 1em;



    }
    .col1 {
    padding:0;
    }
    .list {
    height: 49em;

    text-align: center;
    padding: 0;
    width: 8.9em;
    margin-left: .5em;


    }
    .listhead {
    height: 3em;

    padding: 0;

    /*border-width: 1em;
    border-color: black;
    border- width*/
    box-shadow: .1em .1em .1em grey;
    background-color: white;
    text-align: center;
    margin-bottom: 1em;


    }
    .innerlist {
    overflow: auto;
    height: 44.99em;
    text-align: left;

    background-color: white;
    box-shadow: .1em .1em .1em grey;
    margin: 0;
    padding: .2em;
    overflow-y: auto;
    overflow-x: hidden;
    }
    .bio {
    font-size: 14pt;
    background-color: white;
    height: 16em;
    margin-left: 1em;
    margin-top: .679em;

    box-shadow: .1em .1em .1em grey;
    }
    .event {
    background-color: white;
    height: 21.35em;
    margin-left: 1em;
    margin-top: .9em;
    padding: 0;
    }
    .logo1 {
    margin-left: 1em;
    margin-top: 1em;
    }
    .button {
    font-size: 13pt;
    margin-top: 1.25em;
    margin-left: 31.215em;
    width: 4em;
    z-index: 999;
    padding:0;
    }
    .eventheader {
    text-align: center;
    background-color: white;
    height: 3.5em;
    box-shadow: .1em .1em .1em grey;

    }
    .eventcontent {
    height: 16.85em;

    margin-top: 1em;
    box-shadow: .1em .1em .1em grey;
    }
    .background {
    background-color: rgba(245, 245, 245, 1);
    background-size: 100% 100%;
    height: 66em;
    }
    .avatar {
    height: 12.5em;
    width: 12.5em;

    border-width: 0em;
    }
    .profphoto { 
    height: 2.4em;
    width: 2.4em;
    }
    .buffline {
    height: 1.5em;
    }
    .commonlogo {
    position: absolute;
    }
    .logos {
    height: 20em;
    width: 80em;
    margin-left: 5em;
    margin-top: 14em;

    }
    .logos2 {
    height: 20em;
    width: 80em;
    margin-left: 96em;
    margin-top: 14em;

    }
    .commonlogo2 {
    position:absolute;
    }
    .outline1 {
    width: 42em;
    height: 21em;
    border-width: .3em;
    border-style: solid;
    border-color: rgb(61, 72, 139);
    margin: 0 auto;
    margin-top: 1.5em;

    }
    .outline2 {
    height: 2.2em;
    width: 8em;
    border-width: .2em;
    border-style: solid;
    border-color: rgb(61, 72, 139);
    margin-top: .4em;
    margin-left: .4em;
    padding-top: .2em;
    }
    .outline3 {
    margin: 0 auto;
    margin-top: .675em;
    height: 7em;


    border-width: .2em;
    border-style: solid;
    border-color: rgb(61, 72, 139);
    padding: 0;
    border-right-width: 0;
    border-left-width: 0;



    }


  </style>
</head>
<body>
<div class = "background">
<!-- <div class = "commonlogo">
  <%= image_tag "logo", {:class => "logos"}%>
  

</div>
<div class = "commonlogo2">
<%= image_tag "logo", {:class => "logos2"}%>
</div> -->
<div class = "wrapper">
<div class = "col-sm-12 header">
  <div class = "col-sm-2 logo1">
    <%= link_to image_tag('top_logo.png'), home_path, {:class => "logo"} %>
  </div>
  <div class = "col-sm-2 button">
    <%= link_to "Sign Out", signout_path %>
  </div>
</div>

<div class = "col-sm-10 col1">
<div class = "col-sm-12 broad">
  <div class = "outline1">
  
  <div class ="col-sm-12 prof">
    <div class = "col-sm-4 profile">
      <%= image_tag @cuser.avatar.url.to_s, {:class => "avatar"} %>

    </div>
    <div class = "col-sm-8 basicinfo">
      <p>
          <%= @cuser.name %>
      </p>
      <p>
          1162 Pacific Street
      </p>
    </div>
    </div>
  </div>
</div>

<div class = "col-sm-12 bottomwrap">
  <div class = "col-sm-3 event">
    <div class = "col-sm-12 eventheader">
      <%=link_to "Events", events_path %>
    </div>
    <div class = "col-sm-12 eventcontent">
    </div>
  </div>
  <div class = "col-sm-8 bio">
  <%= @cuser.info %>
  </div>
</div>
</div>
<div class = "col-sm-2 list">

<div class = "col-sm-12 listhead">
<div class = "outline2">

Members
</div>
</div>

<div class = "col-sm-12 innerlist">

<%= render "users/list/list2" %>

</div>
</div>
</div>
<div class = "col-sm-12 footer">
  
  <div class = "col-sm-12 outline3">
      <p></p>
      <div class = "col-sm-4">
      </div>
      <div class = "col-sm-4 weare">
      We Are Common
      </div>
      <div class = "col-sm-12 buffline">
      </div>
      <div class = "col-sm-5">
      </div>
      <div class = "col-sm-2">
      <%= link_to "Edit", edit_user_registration_path %>
      </div>
  </div>
</div>
</div>


</body>
</html>