<!DOCTYPE html>
<html>
<head>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

  <title>Sign Up</title>

  <style>
  .bg-hero {
    text-align: center;
    font-size: 18pt;
  }
  .buffer {
    height:1em;
    width: 100%;
  }
  
  .btn {
    padding-right: 3em;
    padding-left: 3em;
    padding-bottom: 1.5em;
    padding-top: 1.5em;
  }
  .form {
    font-size: 14pt;
  }
  .field2{
    padding-bottom: 1em;
    

  }

.inner {
  
    float: right;
    margin: 0 auto;
    margin-top: 0;
    z-index: 999;
    background-color: white;
    opacity: 10%;
    height: 3em;
    width: 100%;
    position: fixed;

    
  }
    .logo{
    
    opacity: 100%;
    margin-right: 28em;
  }
  .l, .si, .su{
    opacity: 100%;
    font-size: 18px;
    margin-right: 5em;
    color: black;
    font-weight: lighter;
    font-style: arial;
  }
  .buff{
    height: .75em;
  }
  .list{
    text-align: center;
    display:block;
  }
  .run{
    margin-top: 5em;
  }

  </style>
</head>
<body>

    <div class="bg-hero">
        <div class="inner">
            <div class = "buff">
            </div>

            
              <%= link_to image_tag('top_logo.png'), home_path, {:class => "logo"} %>
            
              
            
            
              <%=link_to 'Sign Up', signup_path, {:class => "su"} %>   <%=link_to 'Sign In', signin_path, {:class => "si"} %>    <%=link_to 'Members', list_path, {:class => "l"} %> 
            
            
        </div>
        <div class ="col-sm-12 run">

        
        <%= render "users/registrations/new" %>
        </div>
        <div type="buttons" class="btn btn-default">
                <%=link_to 'Back', home_path %> 

            </div>
            
        
    </div>






</body>
</html>
